### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="TL_WR840N-V4"

############################################################
### Linux kernel configuration
############################################################

#CONFIG_FIRMWARE_CPU_SLEEP=y
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0
CONFIG_FIRMWARE_ENABLE_IPV6=y
#CONFIG_FIRMWARE_INCLUDE_XFRM=y
#CONFIG_FIRMWARE_ENABLE_USB=y
#CONFIG_FIRMWARE_ENABLE_UFSD=y
#CONFIG_FIRMWARE_ENABLE_FAT=y
#CONFIG_FIRMWARE_ENABLE_EXFAT=y
#CONFIG_FIRMWARE_ENABLE_EXT4=y
#CONFIG_FIRMWARE_ENABLE_SWAP=y
CONFIG_FIRMWARE_ENABLE_DNSMASQ_REGEX=y
#CONFIG_FIRMWARE_INCLUDE_QOS=y
#CONFIG_FIRMWARE_INCLUDE_IMQ=y
#CONFIG_FIRMWARE_INCLUDE_IFB=y
#CONFIG_FIRMWARE_INCLUDE_TPROXY=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
### Userspace configuration
############################################################

#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y

#CONFIG_FIRMWARE_INCLUDE_U2EC=y
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y
#CONFIG_FIRMWARE_INCLUDE_HDPARM=y
#CONFIG_FIRMWARE_INCLUDE_SMBD=y
#CONFIG_FIRMWARE_INCLUDE_SMBD36=y
#CONFIG_FIRMWARE_INCLUDE_WINS=y
#CONFIG_FIRMWARE_INCLUDE_FTPD=y

CONFIG_FIRMWARE_INCLUDE_RPL2TP=y
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
CONFIG_FIRMWARE_INCLUDE_HTTPS=y
CONFIG_FIRMWARE_INCLUDE_SFTP=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

# ВКЛЮЧАЕМ LZO для OpenVPN
CONFIG_FIRMWARE_INCLUDE_LZO=y

# ВКЛЮЧАЕМ OpenVPN (если нужен)
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

# ❌ Отключаем тяжёлый AmneziaWG
#CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y

# ✅ ВКЛЮЧАЕМ WireGuard (лёгкий и быстрый)
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
#CONFIG_FIRMWARE_INCLUDE_XUPNPD=y

#CONFIG_FIRMWARE_INCLUDE_TOR=y
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIP=y
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIPV6=y
#CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y
#CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y
#CONFIG_FIRMWARE_INCLUDE_STUBBY=y
#CONFIG_FIRMWARE_INCLUDE_DOH=y
#CONFIG_FIRMWARE_INCLUDE_CURL=y
#CONFIG_FIRMWARE_INCLUDE_QUIC=y

#CONFIG_FIRMWARE_INCLUDE_WPAD=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
#CONFIG_FIRMWARE_INCLUDE_EOIP=y

#CONFIG_FIRMWARE_INCLUDE_ZAPRET=y
#CONFIG_FIRMWARE_INCLUDE_ZAPRET2=y
#CONFIG_FIRMWARE_INCLUDE_REDSOCKS2=y

CONFIG_FIRMWARE_INCLUDE_VENDOR_LOGO=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
